.connection-diagram-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: black;
  padding: 30px;
}

.connection-diagram-container img {
  width: 35px;
  height: auto;
}

.list-devices {
  position: relative;
  width: fit-content;
  display: flex;
  gap: 1.5rem;
}
.internet-connect-line {
  position: absolute;
  top: 0;
  height: 2px;
  width: 50px;
  background: #22485a;
  transform: translateX(-50%) rotate(90deg);
  transform-origin: right center;
}
.connect-line {
  position: absolute;
  top: calc(50%);
  background: #22485a;
  height: 2px;
  width: 100%;
}

.diagram-item {
  position: relative;
  background-color: #75aecd;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  filter: drop-shadow(0 0 5px #fff);
}

.device-name {
  position: absolute;
  bottom: 0;
  transform: translateY(calc(100% + 0.5rem));
  text-align: center;
  min-width: 70px;
}

.global {
  width: fit-content;
  transform: translateX(27%);
  z-index: 1;
}
.global img {
  width: 32px;
  filter: drop-shadow(0 0 4px cyan);
}