.connection-diagram-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  max-width: 375px;
  gap: 40px;
  background-color: black;
  padding-top: 30px;
}

.connection-diagram-container img {
  height: auto;
}

.list-devices {
  position: relative;
  width: 100%;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}
.internet-connect-line {
  position: absolute;
  top: 0;
  height: 2px;
  width: 50px;
  background: #22485a;
  transform: translateX(-50%) rotate(90deg);
  transform-origin: right center;
}
.connect-line {
  position: absolute;
  top: calc(50%);
  left: 50px;
  background: #22485a;
  height: 2px;
  width: 150%;
}

.diagram-item {
  position: relative;
  background: radial-gradient(circle, #5ba9cc, #75bcc9);
  /* background: #9ec5d0; */
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 0 2px #fff);
}
.diagram-item img {
  width: 32px;
}

.device-name {
  position: absolute;
  bottom: 0;
  transform: translateY(calc(100% + 0.5rem));
  text-align: center;
  min-width: 70px;
}

.global {
  width: 100%;
  transform: translateX(16%);
  z-index: 1;
}
.global img {
  width: 32px;
  filter: drop-shadow(0 0 4px cyan);
}