:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  width: 375px;
  height: 420px;
  overflow: hidden;
}

.popover-tail {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid;
}

.popover-tail.network-good {
  border-bottom-color: #007EAC;
}

.popover-tail.network-slow {
  border-bottom-color: #fca53a;
}

.popover-tail.network-offline {
  border-bottom-color: #C1356D;
}

.container {
  width: 375px;
  margin: 15px auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  background: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.status-box {
  color: white;
  padding: 18px;
}

.status-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.status-title {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
}

.status-indicator {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px;
  margin-left: 2px;
  border: 1px solid white;
  transition: background-color 0.5s ease;
}

.status-box.network-good {
  background: linear-gradient(to bottom, #007EAC, #00547a);
}

.status-box.network-good .status-indicator {
  background-color: #00BF63;
}

.status-box.network-slow {
  background: linear-gradient(to bottom, #fca53a, #f16375);
}

.status-box.network-slow .status-indicator {
  background-color: #FFC107;
}

.status-box.network-offline {
  background: linear-gradient(to bottom, #C1356D, #f08977);
}

.status-box.network-offline .status-indicator {
  background-color: #FF4C4C;
}

.status-text {
    font-size: 1.5em;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

.status-box .status-title {
    display: flex;
    align-items: center;
}

.more-icon {
  cursor: pointer;
  font-weight: 800;
  padding: 2px 5px;
  margin-bottom: 16px;
}

.ssid {
  font-size: 14px;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}

.ssid::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 6px;
  margin-top: 2px;
  background-image: url('../images/laptop.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  vertical-align: middle;
}

.divider {
  border-top: 1px solid rgba(136, 136, 136, 0.6);
  margin: 8px 0;
}

.ping-info {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 10px;
}

.ping-block h2 {
  margin: 0;
  font-size: 26px;
}

.ping-block p {
  margin: -3px;
  font-size: 14px;
}

.ping-info .timeout {
  padding-right: 50px;
}

.diagram-container {
  position: relative;
  background: #000;
  width: 375px;
  height: 300px;
  padding-top: 10px;
}

canvas {
  position: absolute;
}